<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Form</title>
</head>
<body>
<div th:insert="~{header :: page-header}"></div>

<div class="form-div"><form method="post" th:action="@{/weatherEdit}" th:object="${weatherToUpdate}">

    <div class="form-group" style="display: none">
        <label for="id" th:text="#{weather.date}">Id</label>
        <input th:field="*{id}" id="id" type="number"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="date" th:text="#{weather.date}">Date</label>
        <input th:field="*{date}" id="date" type="date"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="lat" th:text="#{weather.lat}">Latitude</label>
        <input th:field="*{location.lat}" id="lat" placeholder="Type here the longitude of the location" type="number"
               step=".0001" class="form-control">
    </div>
    <div class="form-group">
        <label for="lon" th:text="#{weather.lon}">Longitude</label>
        <input th:field="*{location.lon}" id="lon" placeholder="Type here the longitude of the location" type="number"
               step=".0001">
    </div>
    <div class="form-group">
        <label for="city" th:text="#{weather.city}">City</label>
        <input th:field="*{location.city}" id="city" placeholder="Type the city name" type="text">
    </div>
    <div class="form-group">
        <label for="state" th:text="#{weather.state}">State</label>
        <input th:field="*{location.state}" id="state" placeholder="Type the state name" type="text">
    </div>
    <div class="form-group">
        <label for="temperatureOne" th:text="#{weather.temp}">Temperature</label> <label> 1</label>
        <input th:field="*{temperature.temperatureOne}" id="temperatureOne" placeholder="Type the temperature #1" type="number"
               step=".1">
    </div>
    <div class="form-group">
        <label for="temperatureTwo" th:text="#{weather.temp}">Temperature</label><label> 2</label>
        <input th:field="*{temperature.temperatureTwo}" id="temperatureTwo" placeholder="Type the temperature #2" type="number"
               step=".1">
    </div>
    <div class="form-group">
        <label for="temperatureThree" th:text="#{weather.temp}">Temperature</label> <label> 3</label>
        <input th:field="*{temperature.temperatureThree}" id="temperatureThree" placeholder="Type the temperature #3" type="number"
               step=".1">
    </div>
    <div class="form-group">
        <label for="temperatureFour" th:text="#{weather.temp}">Temperature</label><label> 4</label>
        <input th:field="*{temperature.temperatureFour}" id="temperatureFour" placeholder="Type the temperature #4" type="number"
               step=".1">
    </div>

    <button type="submit">Update</button><br>
</form></div>
<a th:href="@{/}">Return</a>
</body>
</html>